body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.spanx{
    color: orange;
}
.gradient{
    text-decoration: none;    
    font-weight: 700;
    color:white ;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;

}
section{
    display:flex;
    margin-bottom: 120px;;
}
.half-width{
    width:50%;
    padding-left: 2%;
    
}
.half-width img{
    width:85%;
}
.bg1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.spacex{
    padding-right: 120px;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}