body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
p{color:grey;}
h1{
    font-size: 40px;
}
.spanx{
    color: orange;
}
.gradient{
    text-decoration: none;    
    font-weight: 700;
    color:white ;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;

}
.flexi{
    display:flex;
    margin-bottom: 120px;;
}
.half-width{
    width:50%;
    padding-left: 2%;
    
}
.half-width img{
    width:85%;
}
.bg1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.spacex{
    padding-right: 120px;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.boxed{
    margin-right:5%;
    margin-left: 5%;
    width: 45%;
    border-radius:5px;
    padding: 10px;
    box-shadow: 5px 5px 40px gray;
}
.orangy{
    color:orange;
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.warm-border{
    border-left:5px solid;
  border-image: linear-gradient(orange, tomato)1;
  
}
.cool-border{
    border-left:5px solid;
  border-image: linear-gradient(darkblue, skyblue)1;
}
footer{
    text-align: center;
    color:gray;
    
}